<p>
  <b>Title:</b>
  <%=h @book.title %>
</p>

<p>
  <b>Author:</b>
  <%=h @book.author %>
</p>

<p>
  <b>Seller:</b>
  <%=h @book.seller %>
</p>

<p>
  <b>Price:</b>
  <%=h @book.price %>
</p>

<p>
  <b>Comments:</b>
  <%=h @book.comments %>
</p>

<p>
  <b>Isbn:</b>
  <%=h @book.isbn %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
